@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  margin-top: 20px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {

  &__list {
    display: flex;

  }

  &__list-item:last-child {
    margin-left: 50px;
  }

  &__list-link {
    @extend %regular-text;
    position: relative;
    cursor: pointer;
    transition: color .4s;
  }

  &__list-link:hover {
    color: rgba(255, 255, 255);
  }

  &__list-item a::after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    content: "";
    transition: width 0.3s ease-out;
  }

  &__list-item a:hover:after,
  &__list-item a:focus:after {
    width: 100%;
  }
}

.footer {

  &__text-item {
    @extend %light-text;
    display: flex;
    justify-content: end;
    margin-bottom: 45px;
  }

  &__img-bottom {
    min-width: 100%;
  }
}

.profile {
  display: flex;

  &__avatar {
    background-image: url(../images/avatar-gradient.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 230px;
    padding: 75px;
    margin-top: 75px;
  }

  &__avatar-img {
    width: 90px;
    height: 90px;
    border-radius: 60px;
    margin: 0 auto;
  }

  &__title {
    @extend %title-text;
    text-align: center;
  }

  &__speciality {
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
  }

  &__social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &__social-img {
    width: 36px;
    height: 36px;
  }

  &__social-link:first-of-type {
    margin-right: 25px;
  }
}

.experiences {
  margin-top: 90px;
  background-image: url(../images/bg-gradient.svg);
  background-position-x: -240px;
  background-repeat: no-repeat;
  background-size: 435px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-align: center;
    @extend %title-text;
  }

  &__descr {
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #8286B8;
    margin-top: 30px;
  }

  &__cart-item {
    height: 314px;
    width: 400px;
    border-radius: 24px;
    background: rgba(72, 61, 111, 0.5);
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  }

  &__cart-top {
    display: flex;
    align-items: center;
    padding: 32px 32px 0;
  }

  &__cart-img {
    width: 48px;
    height: 48px;
    border-radius: 12px;
  }

  &__cart-title {
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #fff;
    padding-left: 20px;
  }

  &__cart-descr {
    @extend %light-text;
    line-height: 26px;
    padding: 20px 32px 32px;
    max-width: 350px;
  }

  &__cart-underline {
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(90deg, rgba(92, 95, 135, 0.2) 0%, rgba(41, 43, 71, 0.2) 50%, rgba(53, 57, 100, 0.2) 100%);
  }

  &__cart-box{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 2rem;
    margin-top: 100px;
  }

  &__cart-boxTechnology {
    display: flex;
    justify-content: flex-end;
    padding: 24px;
  }

  &__cart-technology {
    // width: 22px;
    // height: 22px;
    margin-left: 12px;
  }
}